<!-- O NÁS -->
<section id="o-nas" class="section" aria-labelledby="about-title">
  <div class="container flow-lg">
    <h2 id="about-title">O co nám vlastně jde?</h2>
    <p>
      Měníme tichou „královskou hru“ v&nbsp;živou společenskou událost. Nehoníme
      se za ELO body ani tituly, hrajeme pro čistou radost ze hry
      a&nbsp;pohodová setkání se sousedy.
    </p>

    <p>
      Mnozí z&nbsp;nás znají šachy hlavně z&nbsp;dětství. Možná tajně obdivujeme
      mistry světa, ale ruku na srdce – kdo má dnes čas trénovat hodiny denně?
      Náš cíl je jasný: profi klub nejsme a&nbsp;ani jím být nechceme.
    </p>
    <p>
      I&nbsp;tak vám ale naservírujeme kapku pravé turnajové atmosféry. Zažijte
      ten pocit, kdy vedle sebe sedí několik dvojic, vnímáte jen tikání
      šachových hodin a&nbsp;napětí by se dalo krájet. Je to úplně jiný
      adrenalin než domácí partie u&nbsp;kuchyňského stolu!
    </p>
    <p>
      <strong>Ničeho se nebojte a&nbsp;přijďte si zahrát.</strong> A&nbsp;když dorazí
      ostřílení profíci? Tím lépe! Vyzveme je třeba na napínavou simultánku: deset
      statečných amatérů proti jednomu mistrovi. 🙂
    </p>

    <h3>Kdo k nám patří?</h3>
    <p>
      Úplně všichni. U&nbsp;našich stolů (a občas i&nbsp;přímo
      v&nbsp;majestátních prostorách zámku!) s&nbsp;otevřenou náručí vítáme:
    </p>
    <ul class="steps">
      <li>
        ♟️ Zkušené matadory, kteří nás mohou inspirovat a&nbsp;něco naučit.
      </li>
      <li>😊 Nadšené amatéry, co si chtějí po práci prostě jen tak zahrát.</li>
      <li>
        👀 Zvědavé začátečníky, které teprve láká magie 64 černobílých polí.
      </li>
    </ul>

    <div class="highlight-box">
      <p>
        <strong
          >Pojďte s&nbsp;námi psát novou šachovou tradici v&nbsp;Lysicích.</strong
        >
      </p>
    </div>
  </div>
</section>
